section.elementor-section.elementor-top-section.elementor-element.elementor-element-6c4bfb4.bundle_banne.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default {
    display: none;
}
section.elementor-section.elementor-top-section.elementor-element.elementor-element-5064626.elementor-section-full_width.elementor-section-height-default.elementor-section-height-default {
    display: none;
}
section.elementor-section.elementor-inner-section.elementor-element.elementor-element-0c1aad0.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default {
    display: none;
}
.cky-consent-container.cky-banner-bottom {
    display: none;
}

.elementor-5241 .elementor-element.elementor-element-f9d878f .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    display: none;
}