section.elementor-section.elementor-top-section.elementor-element.elementor-element-2cb042f.bundle_banne.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default {
    display: none;
}
section.elementor-section.elementor-inner-section.elementor-element.elementor-element-5c8959f.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default {
    display: none;
}
section.elementor-section.elementor-top-section.elementor-element.elementor-element-99d7ad7.elementor-section-full_width.elementor-section-height-default.elementor-section-height-default {
    display: none;
}
.cky-consent-container.cky-classic-bottom {
    display: none;
}