 section.elementor-section.elementor-inner-section.elementor-element.elementor-element-a4f673d.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default {
    display: none !important;
}
.elementor-5241 .elementor-element.elementor-element-a4f673d {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0 0 0;
    display: none !important;
}

.lgf-subs-btn-container .elementor-widget-container {
    position: absolute;
    top: 0;
    right: 0;
    width: max-content;
    display: none !important;
}
section.elementor-section.elementor-top-section.elementor-element.elementor-element-1bb95c9.bundle_banne.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default {
    display: none;
}
.elementor-5241 .elementor-element.elementor-element-2357b651 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-block-start: calc(24px / 2);
    display: none;
}